openapi: 3.2.0
info:
  title: Intelligent Capture (ICAP) Provisioning Resource API
  description: APIs to manage Catalyst Center Assurance Intelligent Capture (ICAP) configurations.
  termsOfService: https://www.cisco.com/c/en/us/about/legal/cloud-and-software/end_user_license_agreement.html
  contact:
    name: Cisco TAC World Wide
    url: https://www.cisco.com/c/en/us/support/web/tsd-cisco-worldwide-contacts.html
    email: tac@cisco.com
  license:
    name: Cisco Catalyst Center License
    url: https://www.cisco.com/c/en/us/products/collateral/software/dna-software-ebook-cte.html
  version: 1.0.0
  x-provenance:
    method: harvested
    authored_by: Cisco Catalyst Center
    harvested_by: API Evangelist
    harvested_on: '2026-08-19'
    first_party: true
    provider_published: true
    source_host: developer.cisco.com
    note: 27 Cisco-published OpenAPI 3.0 Assurance documents (185 operations). Ownership confirmed from the tac@cisco.com contact, the Cisco EULA terms-of-service URL and the Cisco Catalyst Center license block carried in each document.
  x-evidence:
  - type: source
    url: https://developer.cisco.com/docs/catalyst-center/
  - type: source
    url: https://developer.cisco.com/dnacenter/
servers:
- url: https://developer.cisco.com
tags:
- name: Resource
  description: APIs to retrieve the resources that were previewed or deployed.
paths:
  /dna/intent/api/v1/icapSettings:
    get:
      tags:
      - Resource
      summary: Retrieves deployed ICAP configurations while supporting basic filtering
      description: 'Retrieves deployed ICAP configurations while supporting basic filtering.


        **Configuration Status**


        |Status | Description |

        | --- | --- |

        | `INPROGRESS` | Configuration is deployed on the device. ICAP data is sent by the device to the Catalyst Center. Supported filters include captureType, clientMac, apId, and wlcId. |

        | `COMPLETE` | Configuration is removed from device. This information is used to retrieve ICAP data collected by the Catalyst Center while the features were enabled on the device. Supported filters include captureType, clientMac, apId, and wlcId. |

        | `SCHEDULED` | The configuration is scheduled to be deployed in the near future. Configurations in this state do not support filters, but pagination with limit and offset is supported. |'
      operationId: getIcap
      parameters:
      - name: captureStatus
        in: query
        description: Catalyst Center ICAP configuration status
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - COMPLETE
          - INPROGRESS
          - SCHEDULED
      - name: captureType
        in: query
        description: Catalyst Center ICAP configuration type
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: FULL
          enum:
          - ANOMALY
          - FULL
          - ONBOARDING
          - OTA
          - RFSTATS
          - SPECTRUM
      - name: clientMac
        in: query
        description: The client device MAC address in ICAP configuration
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: AA:AA:AA:AA:AA:01
      - name: apId
        in: query
        description: The AP device's UUID.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: uuid
          example: 7f422eeb-effe-4938-9371-ccf6dc2fe15e
      - name: wlcId
        in: query
        description: The wireless controller device's UUID
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: uuid
          example: 7f422eeb-effe-4938-9371-ccf6dc2fe15e
      - name: offset
        in: query
        description: The first record to show for this page; the first record is numbered 1.
        schema:
          minimum: 1
          type: integer
          default: 1
      - name: limit
        in: query
        description: The number of records to show for this page.
        schema:
          maximum: 500
          minimum: 1
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PacketCaptureDeployedInfoListResponse'
              examples:
                captureSettings:
                  $ref: '#/components/examples/CaptureSettingOutput'
        '204':
          description: The request was successful, however no content was returned.
        '206':
          description: The GET request included a Range Header, and the server responded with the partial content matching the range.
        '400':
          description: The client made a request that the server could not understand (for example, the request syntax is incorrect).
        '401':
          description: The client's authentication credentials included with the request are missing or invalid.
        '403':
          description: The server recognizes the authentication credentials, but the client is not authorized to perform this request.
        '404':
          description: The client made a request for a resource that does not exist.
        '409':
          description: The target resource is in a conflicted state (for example, an edit conflict where a resource is being edited by multiple users). Retrying the request later might succeed.
        '415':
          description: The client sent a request body in a format that the server does not support (for example, XML to a server that only accepts JSON).
        '500':
          description: The server could not fulfill the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '501':
          description: The server has not implemented the functionality required to fulfill the request.
        '503':
          description: The server is (temporarily) unavailable.
        '504':
          description: The server did not respond inside time restrictions and timed-out.
  /dna/intent/api/v1/icapSettings/count:
    get:
      tags:
      - Resource
      summary: Retrieves the count of deployed ICAP configurations while supporting basic…
      description: Retrieves the count of deployed ICAP configurations while supporting basic filtering.
      operationId: getIcapCount
      parameters:
      - name: captureType
        in: query
        description: Catalyst Center ICAP configuration type
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: FULL
          enum:
          - ANOMALY
          - FULL
          - ONBOARDING
          - OTA
          - RFSTATS
          - SPECTRUM
      - name: captureStatus
        in: query
        description: Catalyst Center ICAP configuration status
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - COMPLETE
          - INPROGRESS
          - SCHEDULED
      - name: clientMac
        in: query
        description: The client device MAC address in ICAP configuration
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: AA:AA:AA:AA:AA:01
      - name: apId
        in: query
        description: The AP device's UUID.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: uuid
          example: 7f422eeb-effe-4938-9371-ccf6dc2fe15e
      - name: wlcId
        in: query
        description: The wireless controller device's UUID
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: uuid
          example: 7f422eeb-effe-4938-9371-ccf6dc2fe15e
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegerResponse'
        '204':
          description: The request was successful, however no content was returned.
        '206':
          description: The GET request included a Range Header, and the server responded with the partial content matching the range.
        '400':
          description: The client made a request that the server could not understand (for example, the request syntax is incorrect).
        '401':
          description: The client's authentication credentials included with the request are missing or invalid.
        '403':
          description: The server recognizes the authentication credentials, but the client is not authorized to perform this request.
        '404':
          description: The client made a request for a resource that does not exist.
        '409':
          description: The target resource is in a conflicted state (for example, an edit conflict where a resource is being edited by multiple users). Retrying the request later might succeed.
        '415':
          description: The client sent a request body in a format that the server does not support (for example, XML to a server that only accepts JSON).
        '500':
          description: The server could not fulfill the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '501':
          description: The server has not implemented the functionality required to fulfill the request.
        '503':
          description: The server is (temporarily) unavailable.
        '504':
          description: The server did not respond inside time restrictions and timed-out.
components:
  schemas:
    PacketCaptureDeployInfoItem:
      required:
      - captureType
      - wlcId
      type: object
      properties:
        id:
          type: string
          description: A unique ID that identifies this ICAP configuration that is currently applied on the device.  Use this ID value to remove ICAP configuration on device.  This value is not available after the ICAP configuration has been removed from the device.
          format: uuid
          example: 42444d12-c46f-4257-a8fd-89785ec81376
        captureType:
          type: string
          description: Catalyst Center ICAP supported capture type
          example: FULL
          enum:
          - FULL
          - ONBOARDING
          - OTA
          - ANOMALY
          - RFSTATS
          - SPECTRUM
        wlcId:
          type: string
          description: Wireless controller device at which the ICAP features are to be deployed.  This parameter is required for all captureType
          format: uuid
          example: 42444d12-c46f-4257-a8fd-89785ec81376
        apId:
          type: string
          description: AP device at which the ICAP features are to be deployed.  This parameter is required for RFSTATS at AP level, ANOMALY at AP level, SPECTRUM, and OTA
          format: uuid
          example: 42444d12-c46f-4257-a8fd-89785ec81376
        clientMac:
          type: string
          description: Client MAC address.  This is required for ONBOARDING and FULL.  All other captureType do not use this parameter
          example: AA:AA:AA:AA:AA:01
        slots:
          type: array
          description: The radio slot for the ICAP feature.  This is required for OTA and SPECTRUM.  All other captureType do not use this parameter.  OTA accepts 1 slot.  SPECTRUM could have multiple slots.
          items:
            type: integer
        otaBand:
          type: string
          description: The OTA band (2.4, 5, or 6).  This is used for OTA.  All other captureType do not use this parameter
          example: '2.4'
        otaChannel:
          type: integer
          description: The channel number that AP will capture packets at the otaBand.  This parameter is used in OTA only.
        otaChannelWidth:
          type: integer
          description: The channel width (20, 40, 80, 160) at the band/channel that AP will capture packets.  This parameter is used in OTA only.
        durationInMins:
          type: integer
          description: The duration in minutes of the ICAP features.  This is used in ONBOARDING and FULL in the range of [30, 480].  Other captureType do not use this parameter.  OTA is set to 15 minutes.  SPECTRUM is set to 10 minutes.
        deployedId:
          type: string
          description: A unique ID that identifies this ICAP configuration that is currently applied on the device.  Use this ID value to remove ICAP configuration on device.  This value is not available after the ICAP configuration has been removed from the device.
          format: uuid
          example: 42444d12-c46f-4257-a8fd-89785ec81376
        deployActivityId:
          type: string
          description: A unique ID that identifies the deployment activity of this intent.
          format: uuid
          example: 42444d12-c46f-4257-a8fd-89785ec81376
        disableActivityId:
          type: string
          description: A unique ID that identifies the pre-scheduled disable activity which will be triggered when the ICAP feature durationInMins expires.  This value is applicable for ONBOARDING, FULL, OTA, and SPECTRUM.  This value could be used to view the CLI commands that will be deployed to device for disable the ICAP configuration on the device.
          format: uuid
          example: 42444d12-c46f-4257-a8fd-89785ec81376
        name:
          type: string
          description: The ICAP intent's preview-deploy description string
          example: The deployment activity name
        createTime:
          allOf:
          - $ref: '#/components/schemas/EpochMilliseconds'
          - description: create time of the device deployment status record; as measured in Unix epoch time in milliseconds
          - example: 1699826101192
        endTime:
          allOf:
          - $ref: '#/components/schemas/EpochMilliseconds'
          - description: device provisioning end time; as measured in Unix epoch time in milliseconds
          - example: 1699826442677
        status:
          allOf:
          - $ref: '#/components/schemas/DeviceStatus'
          - description: provisioning status on the device
          - example: SUCCESS
        otaMode:
          type: string
          description: AP is to change the AP mode from client-serving to sniffer.  RADIO is to change the selected radio slot from client-serving to radio role sniffer.  Catalyst Center allows RADIO only when the AP platform supports radio role sniffer.  Default is RADIO if not provided
          example: RADIO
          enum:
          - AP
          - RADIO
      description: 'A common definition of an ICAP configuration.  It depends on the value in type that certain field values in an ICAP configuration could be null (not applicable).

        '
      example: '{"captureType": "FULL","wlcId": "9079ce39-25fe-4ab0-88cb-e89f5e700ddb", "clientMac": "AA:AA:AA:AA:AA:02", "durationInMins": 10}

        '
    ErrorResponse_response:
      type: object
      properties:
        errorCode:
          type: string
          description: The error code
        message:
          type: string
          description: A message providing more context regarding the error
        detail:
          type: string
          description: Detailed information regarding the error
    EpochMilliseconds:
      minimum: 0
      type: integer
      description: A date and time represented as ***milliseconds*** since the Unix epoch.
      format: int64
      example: 1524880285900
      externalDocs:
        description: Unix time - Wikipedia
        url: https://en.wikipedia.org/wiki/Unix_time
    IntegerResponse:
      title: Integer Response
      type: object
      properties:
        response:
          type: integer
          description: The reported value
        version:
          type: string
          description: The version of the response
          example: '1.0'
      description: Reports an integer.
    PacketCaptureDeployedInfoListResponse:
      type: object
      properties:
        response:
          $ref: '#/components/schemas/PacketCaptureDeployInfoItem'
        version:
          type: string
          example: '1.0'
    ErrorResponse:
      title: Error Response
      type: object
      properties:
        response:
          $ref: '#/components/schemas/ErrorResponse_response'
        version:
          type: string
          description: The version of the response
          example: '1.0'
      description: Contains information explaining the error that occured processing this request.
      externalDocs:
        description: Error Codes - Cisco DevNet
        url: https://developer.cisco.com/docs/dna-center/#!api-quick-start/error-codes
    DeviceStatus:
      type: string
      description: "Device status:\n  * 'NOT_STARTED' - provisioning has not started on this device\n  * 'SUCCESS' - provisioning has completed with a success\n  * 'FAILED' - provisioning has completed with a failure\n  * 'CONFIGURING' - provisioning is in progress\n  * 'ROLLBACK_SUCCESS' - provisioning has successfully rolled back to the previous version \n  * 'ROLLBACK_FAILURE' - there was a failure in rolling back to the previous version\n  * 'CANCELLED' - provisioning was cancelled by the user\n  * 'NOT_SUPPORTED' - provisioning cannot be done on the device as the device does not support it\n  * 'PENDING' - provisioning will start soon on the device\n"
      enum:
      - NOT_STARTED
      - SUCCESS
      - FAILED
      - CONFIGURING
      - ROLLBACK_SUCCESS
      - ROLLBACK_FAILURE
      - CANCELLED
      - NOT_SUPPORTED
      - PENDING
  examples:
    CaptureSettingOutput:
      summary: captureSettingOutput
      value:
        response:
        - name: FULL for AA:AA:AA:AA:AA:01 on WLC-20
          slots:
          - 0
          - 1
          - 2
          otaBand: '2.4'
          otaChannel: 7
          otaChannelWidth: 20
          id: 4dab2492-cead-4036-83d1-2e44b2212345
          deployedId: 4dab2492-cead-4036-83d1-2e44b2212345
          disableActivityId: 4dab2492-cead-4036-83d1-2e44b22abcdef
          deployActivityId: 4dab2492-cead-4036-83d1-2e44b2255555
          captureType: ONBOARDING
          apId: 4dab2492-cead-4036-83d1-2e44b2255555
          wlcId: 4dab2492-cead-4036-83d1-2e44b2213c54
          clientMac: AA:AA:AA:AA:AA:01
          createTime: 12345678901234
          endTime: 12345679901234
          durationInMins: 30
          status: SUCCESS
        version: '1.0'
externalDocs:
  description: Catalyst Center Developer API resources
  url: https://developer.cisco.com/dnacenter/
